* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

@font-face {
    font-family: "squaredeal";
    src: url("../fonts/square-deal.ttf")
}

::-webkit-scrollbar {
    width: 14px;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #5E35B1;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #FFF;
    border: 4px solid #5E35B1;
}
