body {
    display: flex;
    flex-direction: column;
}
body, html {
    height: 100%;
}

body > * {
    flex-shrink: 0;
    display: flex;
    position: relative;
}

span.info {
    color: #FFF;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(20,20,20,0.4);
}

nav {
    height: 40px;
    background: #E91E63;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(20,20,20,0.3);
    z-index: 10;
}
    nav > ul {
        display: flex;
    }
        nav > ul li {
            display: flex;
            width: 150px;
            background: #FFF;
            align-items: center;
            justify-content: center;
            margin: 5px 2.5px;
            border-radius: 4px;
            font-family: Roboto;
            color: #222;
        }

main {
    flex-grow: 1;
    background: #3F51B5;
    z-index: 9;
    flex-direction: row;
}
    main > aside {
        width: 310px;
        flex-shrink: 0;
        margin: 20px;
        box-sizing: border-box;
        border: 3px dashed #FFF;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 20px;
    }
    main > section.party {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

footer {
    height: 100px;
    background: #8BC34A;
    z-index: 11;
    box-shadow: -1px -1px 10px rgba(20,20,20,0.3);
}
    footer > section {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    footer > section.user {
        width: 350px;
    }
    footer > section.tchat {
        flex-grow: 1;
        background: #E91E63;
    }
    footer > section.friends {
        width: 350px;
    }