* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Exo 2", "Roboto";
}

body {
    display: flex;
    flex-direction: column;
    background: #000;
}

body > iframe {
    border: none;
    width: 105%;
    height: 105%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    overflow: hidden;
}

button {
    background: linear-gradient(to bottom,#FFF,#CCC);
    padding: 0 10px;
    outline: none;
    border: none;
    border: 2px solid #FFF;
    box-sizing: border-box;
    font-family: Exo,Roboto;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 14px;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #263238;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2196F3;
    border: 4px solid #263238;
}


#pixie {
	z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.85;
}
#bottom {
    height: 100px;
    margin: 20px 0;
    display: flex;
    flex-shrink: 0;
    margin-top: auto;
    position: relative;
}
    #bottom > #friendslist {
        width: 350px;
        max-height: 65vh;
        position: absolute;
        right: 50px;
        bottom: 55px;
        display: flex;
        flex-direction: column;
        padding: 8px;
        border-radius: 2px;
    }
        #bottom > #friendslist > .content {
            flex-grow: 1;
            overflow-y: auto;
            position: relative;
            scroll-behavior: smooth;
        }
            #bottom > #friendslist > .content > .friend {
                height: 80px;
                background: rgb(53,53,53); /* Old browsers */
                background: -moz-linear-gradient(left,  rgba(53,53,53,1) 0%, rgba(38,50,56,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  rgba(53,53,53,1) 0%,rgba(38,50,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  rgba(53,53,53,1) 0%,rgba(38,50,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#263238',GradientType=1 ); /* IE6-9 */
                box-shadow: 1px 1px 10px rgba(20,20,20,0.2);
                border-left: 2px solid rgba(150,150,150,0.3);
                border-top: 2px solid rgba(150,150,150,0.2);
                box-sizing: border-box;
                display: flex;
                padding: 8px;
            }
                #bottom > #friendslist > .content > .friend.offline > .avatar {
                    opacity: 0.63;
                }
                #bottom > #friendslist > .content > .friend.offline > .info > .login > p {
                    opacity: 0.63;
                }

                #bottom > #friendslist > .content > .friend.online:hover {
                    background: rgb(70,70,70);
                    background: -moz-linear-gradient(left,  rgba(70,70,70,1) 0%, rgba(38,50,56,1) 100%);
                    background: -webkit-linear-gradient(left,  rgba(70,70,70,1) 0%,rgba(38,50,56,1) 100%);
                    background: linear-gradient(to right,  rgba(70,70,70,1) 0%,rgba(38,50,56,1) 100%);
                    cursor: pointer;
                }

                #bottom > #friendslist > .content > .friend + .friend {
                    margin-top: 5px;
                }

                #bottom > #friendslist > .content > .friend > .avatar {
                    width: 64px;
                    height: 64px;
                    margin-right: 15px;
                    box-sizing: border-box;
                    overflow: hidden;
                    border-radius: 50%;
                    box-shadow: 1px 1px 10px rgba(20,20,20,0.5);
                    position: relative;
                }
                    #bottom > #friendslist > .content > .friend > .avatar > img {
                        width: inherit;
                        height: inherit;
                    }

                #bottom > #friendslist > .content > .friend > .info {
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    display: flex;
                }
                    #bottom > #friendslist > .content > .friend > .info > .login {
                        color: #FFF;
                        display: flex;
                        align-items: center;
                    }
                        #bottom > #friendslist > .content > .friend > .info > .login > p {
                            font-size: 22px;
                            font-family: Exo;
                            letter-spacing: 1px;
                        }

                        #bottom > #friendslist > .content > .friend > .info > .login > i {
                            margin-left: auto;
                            background: #455A64;
                            color: #FFF;
                            padding: 5px;
                            font-size: 14px;
                            border-radius: 2px;
                            margin-right: 6px;
                            transition: 0.1s linear all;
                        }
                            #bottom > #friendslist > .content > .friend > .info > .login > i:hover {
                                background: #FFF;
                                color: #333;
                            }

                    #bottom > #friendslist > .content > .friend > .info > .state {
                        align-items: center;
                        border-radius: 2px;
                        color: #E0E0E0;
                        display: flex;
                        margin-top: 3px;
                    }
                        #bottom > #friendslist > .content > .friend > .info > .state > .bulle {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin-right: 6px;
                        }
                            #bottom > #friendslist > .content > .friend.online > .info > .state > .bulle {
                                background: #8BC34A;
                                border-left: 2px solid #AED581;
                                border-bottom: 2px solid #AED581;
                            }
                            #bottom > #friendslist > .content > .friend.offline > .info > .state > .bulle {
                                background: #EF5350;
                                border-left: 2px solid #FF5252;
                                border-bottom: 2px solid #FF5252;
                            }
                            #bottom > #friendslist > .content > .friend > .info > .state > p {
                                font-size: 14px;
                                font-family: monospace;
                                font-weight: 800;
                            }

        #bottom > #friendslist > .menu {
            height: 28px;
            margin-top: 10px;
            display: flex;
            flex-shrink: 0;
        }
            #bottom > #friendslist > .menu > span {
                background: rgba(53,53,53,0.8);
                display: flex;
                align-items: center;
                padding: 0 10px;
                box-sizing: border-box;
                color: #FFF;
                border-radius: 2px;
                border-left: 2px solid #424242;
                border-top: 2px solid #424242;
                font-size: 15px;
                font-family: roboto;
                transition: 0.2s linear all;
            }
                #bottom > #friendslist > .menu > span:hover {
                    background: #2196F3;
                    cursor: pointer;
                    border-color: #18FFFF;
                }
                #bottom > #friendslist > .menu > span:hover:nth-child(2) > b {
                    background: #EF5350;
                    color: #FFF;
                }

            #bottom > #friendslist > .menu > span:nth-child(1) {
                flex-grow: 1;
            }
            #bottom > #friendslist > .menu > span:nth-child(2) {
                flex-grow: 1;
            }
                #bottom > #friendslist > .menu > span:nth-child(2) > b {
                    margin-left: auto;
                    background: #D4E157;
                    padding-left: 5px;
                    padding-right: 5px;
                    color: #000;
                    font-size: 14px;
                    border-radius: 2px;
                }

                #bottom > #friendslist > .menu > span i {
                    margin-right: 10px;
                }

            #bottom > #friendslist > .menu > span + span {
                margin-left: 5px;
            }

            #bottom > #friendslist > .menu > span:last-child {
                width: 30px;
                padding: 0;
                justify-content: center;
            }
                #bottom > #friendslist > .menu > span:last-child i {
                    margin-right: 0;
                }

    #bottom > .menu {
        background: rgba(53,53,53,0.8);
        margin-left: auto;
        height: 40px;
        align-self: flex-end;
        margin-right: 20px;
        box-sizing: border-box;
        border: 2px solid rgba(100,100,100,0.05);
        border-radius: 40px;
        display: flex;
        padding: 4px;
        box-shadow: 1px 1px 10px rgba(20,20,20,0.2);
    }
        #bottom > .menu > div + div {
            margin-left: 15px;
        }

        #bottom > .menu > div {
            transition: all 0.1s linear;
        }

        #bottom > .menu > div i {
            margin-right: 10px;
            background: #263238;
            padding: 8px;
            color: #FFF;
            border-radius: 50%;
            transition: all 0.1s linear;
        }
            #bottom > .menu > div:not(.hour):not(.active):hover {
                background: #2196F3;
                cursor: pointer;
                color: #FFF;
            }
                #bottom > .menu > div:not(.hour):not(.active):hover i {
                    color: #DCE775;
                }

        #bottom > .menu > .group {
            border-radius: 38px;
            padding: 0 15px;
            background: #FFF;
            color: #333;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-family: roboto;
        }
        #bottom > .menu > .friends {
            border-radius: 38px;
            padding: 0 15px;
            background: #FFF;
            color: #333;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-family: roboto;
        }

            #bottom > .menu > .friends.active {
                background: #2196F3;
                color: #FFF;
            }
                #bottom > .menu > .friends.active i {
                    color: #DCE775;
                }

                #bottom > .menu > .friends.active > b {
                    background: #FFF;
                    color: #333;
                }


            #bottom > .menu > .friends:not(.active):hover > b {
                background: #FFF;
                color: #333;
            }
            #bottom > .menu > .friends > b {
                margin-left: 10px;
                background: #2196F3;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 6px;
                padding-right: 6px;
                color: #FFF;
                border-radius: 50%;
                transition: all 0.1s linear;
                font-size: 14px;
            }

        #bottom > .menu > .hour {
            color: #FFF;
            display: flex;
            align-items: center;
            padding: 0 30px;
        }

    #bottom > .options {
        width: 26px;
        transform: skew(-7deg);
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-shrink: 0;
    }
        #bottom > .options > div {
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s linear;
            color: #FFF;
            box-shadow: 1px 1px 10px rgba(20,20,20,0.2);
        }
            #bottom > .options > div:hover {
                cursor: pointer;
            }

            #bottom > .options > div.trophy {
                background: #2962FF;
            }
                #bottom > .options > div.trophy:hover {
                    background: #2979FF;
                }

            #bottom > .options > div.logout {
                background: #EF5350;
            }
                #bottom > .options > div.logout:hover {
                    background: #FF1744;
                }

            #bottom > .options > div + div {
                margin-top: 10px;
            }

    #bottom > .self_user {
        padding: 5px;
        display: flex;
        flex-shrink: 0;
        transition: all 0.2s linear;
        margin-left: 20px;
        flex-direction: column;
        width: 280px;
    }
        #bottom > .self_user:hover {
            cursor: pointer;
        }

        #bottom > .self_user:hover > .user > .info > div:first-child > .login {
            color: #DCE775;
        }
        #bottom > .self_user:hover > .user > .avatar {
            border-color: #DCE775;
        }
        #bottom > .self_user:hover > .user > .info > div:last-child > .level > b {
            background: #DCE775;
            color: #333;
        }
        #bottom > .self_user:hover > .user > .info > div:last-child > .experience {
            color: #DCE775;
        }
        #bottom > .self_user:hover > .loadingbar > div:not(.taken) {
            background: #FFF;
        }

        #bottom > .self_user > .user {
            flex-grow: 1;
            margin-bottom: 10px;
            display: flex;
        }
            #bottom > .self_user > .user > .avatar {
                width:78px;
                margin-right: 10px;
                overflow: hidden;
                box-sizing: border-box;
                border: 2px solid #FCE4EC;
                box-shadow: 1px 1px 12px rgba(255,255,255,0.28);
                border-radius: 2px;
                transition: all 0.2s linear;
            }
                #bottom > .self_user > .user > .avatar > img {
                    width: inherit;
                    height: inherit;
                }

            #bottom > .self_user > .user > .info {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
                #bottom > .self_user > .user > .info > div {
                    flex-grow: 1;
                    display: flex;
                }
                    #bottom > .self_user > .user > .info > div:last-child {
                        flex-shrink: 0;
                    }
                    #bottom > .self_user > .user > .info > div + div {
                        margin-top: 3px;
                    }
                    #bottom > .self_user > .user > .info > div > span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    #bottom > .self_user > .user > .info > div > .login {
                        color: #FCE4EC;
                        font-weight: 600;
                        font-size: 25px;
                        transition: all 0.2s linear;
                        text-shadow: 1px 1px 1px rgba(30,20,20,0.5);
                    }

                    #bottom > .self_user > .user > .info > div > .level {
                        background: #EDE7F6;
                        margin-right: 10px;
                        height: inherit;
                        padding-left: 5px;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        box-shadow: 1px 1px 10px rgba(20,20,20,0.2);
                        overflow: hidden;
                    }
                        #bottom > .self_user > .user > .info > div > .level > p {
                            align-self: stretch;
                            font-weight: 400;
                            font-family: "Roboto";
                        }
                        #bottom > .self_user > .user > .info > div > .level b {
                            background: #2196F3;
                            color: #FFF;
                            margin-left: 10px;
                            height: inherit;
                            padding: 0 5px;
                            align-self: stretch;
                            transition: all 0.2s linear;
                        }
                    #bottom > .self_user > .user > .info > div > .experience {
                        font-style: oblique;
                        color: #FCE4EC;
                        font-weight: 300;
                        font-size: 13px;
                        margin-left: auto;
                        align-self: flex-end;
                        font-family: roboto;
                        transition: all 0.2s linear;
                        text-shadow: 1px 1px 1px rgba(30,20,20,0.5);
                        transform: skew(-7deg);
                    }

        #bottom > .self_user > .loadingbar {
            height: 6px;
            display: flex;
            transform: skew(-15deg);
        }
            #bottom > .self_user > .loadingbar > div {
                height: inherit;
                width: calc(5% - 2px);
                border-radius: 2px;
                transition: all 0.2s linear;
                box-shadow: 1px 1px 5px rgba(20,20,20,0.4);
            }
                #bottom > .self_user > .loadingbar > div.taken {
                    background: #EEFF41;
                }
                #bottom > .self_user > .loadingbar > div:not(.taken) {
                    background: rgba(255,255,255,0.85);
                }
                #bottom > .self_user > .loadingbar > div + div {
                    margin-left: 2px;
                }

#top {
    display: flex;
    flex-grow: 1;
}

nav {
    width: 80px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    position: relative;
    padding-top: 10px;
}
    nav > ul {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
        nav > ul > li {
            height: 60px;
            box-sizing: border-box;
            color: #FFF;
            background: rgba(53,53,53,0.95);
            border: 2px solid rgba(100,100,100,0.5);
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 24px;
            flex-shrink: 0;
            transition: all 0.2s linear;
            border-radius: 2px;
            position: relative;
            flex-direction: column;
            border-radius: 50%;
            box-shadow: 1px 1px 10px rgba(40,40,40,0.5);
        }

            nav > ul > li.active {
                color: #333;
                background: #DCE775;
                border-color: #DCE775;
            }

            nav > ul > li.inactive {
                opacity: 0.35;
                cursor: default;
                color: #78909C;
            }

            nav > ul > li:not(.active):not(.inactive):hover {
                cursor: pointer;
                background: rgba(53,53,53,1);
                border-color: #DCE775;
                color: #DCE775;
            }

        nav > ul > li + li {
            margin-top: 10px;
        }

#top > section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

    /* Title */
    #top >section > h1 {
        color: #FFF;
        margin-bottom: 10px;
        font-size: 26px;
        flex-shrink: 0;
        transform: skew(-7deg);
    }
        #top > section > h1 i {
            margin-left: 15px;
            font-size: 20px;
        }

    /* Game menu */
    #top > section > #menu {
        height: 29px;
        display: flex;
        border-radius: 2px;
        overflow: hidden;
        border-bottom: 2px solid #D4E157;
        flex-shrink: 0;
    }
        #top > section > #menu > ul {
            display: inherit;
        }
            #top > section > #menu > ul li {
                color: #FFF;
                display: flex;
                align-items: center;
                padding: 0 10px;
                border-radius: 2px 2px 0 0;
                font-family: roboto;
                font-weight: 500;
                transition: all 0.2s linear;
            }
                #top > section > #menu > ul li i {
                    margin-right: 10px;
                }

            #top > section > #menu > ul li:not(.active):hover {
                color: #82B1FF;
                cursor: pointer;
            }
            #top > section > #menu > ul li.active {
                background: #D4E157;
                color: #333;
            }

    /* Container Section */
    #top > section > aside {
        margin-top: 10px;
        flex-wrap: wrap;
        display: flex;
        overflow-y: auto;
        flex-grow: 1;
    }
        #top > section > aside > section > h3 {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e2e2e2+100 */
            background: rgb(255,255,255); /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
            box-sizing: border-box;
            border-bottom: 2px solid #FFF;
            padding: 0 10px;
            color: #333;
            margin-bottom: 10px;
            align-self: flex-start;
            display: flex;
            align-items: center;
            height: 35px;
            font-size: 18px;
            border-radius: 2px;
        }

        #top > section > aside > section#speed_search {
            width: 340px;
            margin-right: 10px;
            flex-direction: column;
            display: flex;
            flex-shrink: 0;
        }
            #top > section > aside > section#speed_search .epingle {
                height: 130px;
                flex-shrink: 0;
                background: #263238;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 15px;
                border-radius: 2px;
                position: relative;
                border: 1px solid #212121;
                overflow: hidden;
                transition: 0.2s linear all;
            }
                #top > section > aside > section#speed_search .epingle:hover {
                    cursor: pointer;
                }

                    #top > section > aside > section#speed_search .epingle:hover::after {
                        border-color: #7C4DFF;
                        box-shadow: 1px 1px 1px #000;
                        box-shadow: 5px 5px 15px rgba(170,200,200,0.25) inset;
                        box-shadow: 1px -40px 60px rgba(40,40,60,1) inset;
                    }

                    #top > section > aside > section#speed_search .epingle:hover > h4 {
                        text-shadow: 1px 1px 1px rgba(20,20,20,0.5),2px 2px 8px #B388FF;
                    }

                #top > section > aside > section#speed_search .epingle > img {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    max-width: 100%;
                    min-width: 100%;
                    /* -webkit-filter: blur(1px); */
                    opacity: 0.85;
                }
                #top > section > aside > section#speed_search .epingle::after {
                    content: " ";
                    background: transparent;
                    width: 97%;
                    height: 95%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    box-sizing: border-box;
                    border: 2px solid #18FFFF;
                    border-radius: 2px;
                    box-shadow: 1px 1px 1px #000;
                    box-shadow: 5px 5px 15px rgba(170,200,200,0.25) inset;
                    box-shadow: 1px -40px 60px rgba(20,20,20,1) inset;
                    z-index: 2;
                    transition: 0.2s linear all;
                }

            #top > section > aside > section#speed_search .epingle + .epingle {
                margin-top: 10px;
            }
                #top > section > aside > section#speed_search .epingle > h4 {
                    color: #ECEFF1;
                    font-family: roboto;
                    font-size: 24px;
                    letter-spacing: 1px;
                    text-shadow: 1px 1px 1px rgba(20,20,20,0.5),2px 2px 8px #40C4FF;
                    margin-left: 10px;
                    z-index: 3;
                    transition: 0.2s linear all;
                    margin-bottom: 5px;
                }
                #top > section > aside > section#speed_search .epingle > p {
                    color: #FFF;
                    margin-bottom: 5px;
                    margin-left: 10px;
                    margin-right: 10px;
                    z-index: 3;
                    text-shadow: 1px 1px 1px rgba(20,20,20,1);
                    font-family: Exo;
                    text-align: justify;
                    font-size: 14px;
                }

        #top > section > aside > section#party {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }
            #top > section > aside > section#party > table {
                background: rgba(38, 50, 56, 0.3);
                border: 2px solid rgba(38, 50, 56, 0.3);
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                color: #FFF;
                border-radius: 2px;
                overflow: hidden;
                padding: 10px;
                box-shadow: 2px 2px 35px rgba(33, 33, 33, 0.5) inset;
            }
                #top > section > aside > section#party > table tr {
                    display: flex;
                    flex-grow: 1;
                    height: inherit;
                    align-items: center;
                    border: 2px solid transparent;
                }
                #top > section > aside > section#party > table tr td {
                    flex-grow: 1;
                    display: flex;
                    height: inherit;
                    align-items: center;
                    flex-basis: 100px;
                    padding-left: 10px;
                }

                #top > section > aside > section#party > table > thead {
                    height: 40px;
                    display: flex;
                    flex-shrink: 0;
                    color: #18FFFF;
                    font-family: Exo,roboto;
                }
                #top > section > aside > section#party > table > tbody {
                    flex-grow: 1;
                    overflow-x: hidden;
                    overflow-y: auto;
                }
                    #top > section > aside > section#party > table > tbody tr {
                        height: 60px;
                        background: rgba(38, 50, 50, 0.5);
                        border: 2px groove rgba(38, 50, 56, 0.8);
                        box-sizing: border-box;
                        transition: all 0.05s linear;
                        margin-right: 10px;
                        box-shadow: 4px 4px 10px rgba(20,20,20,0.5) inset;
                        border-radius: 2px;
                    }
                        #top > section > aside > section#party > table > tbody tr:hover {
                            border-color: rgba(212, 225, 87, 0.6);
                            color: #D4E157;
                            cursor: pointer;
                        }

                    #top > section > aside > section#party > table > tbody tr + tr {
                        margin-top: 5px;
                    }

            #top > section > aside > section#party > .actionMenu {
                height: 50px;
                margin-top: 15px;
                flex-shrink: 0;
                display: flex;
            }
