* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #3B3B3B;
    font-family: 'Roboto';
    height: 100%;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
}
header {
    width: 100%;
}
header nav {
    display: flex;
    flex-direction: row;
    background-color: #323232;
    align-items: center;
    justify-content: center;
}
    header nav .empty {
        flex-grow: 1;
    }
    header nav a {
        margin: 1em;
        padding: 1em;
        align-items: center;
        justify-content: center;
        background-color: #424242;
        border-radius: 2px;
        min-width: 6em;
        color: #FFFFFF;
    }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    max-width: auto;
    min-width: 50%;
    background-color: #424242;
}
    section .select {
        margin-bottom: 1em;
    }
        section .select button {
            padding: 1em;
            background-color: #4E4E4E;
            color: white;
            font-family: 'Roboto';
            border: none;
        }
        section .select button:nth-child(2) {
            margin: 0em 1em 0em 1em;
        }
    section .auth {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
        section .auth .selected {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
            section .auth .selected form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 1em;
                padding: 1em;
                width: 100%;
            }
                section .auth .selected form input {
                    margin: 1em;
                    padding: 1em;
                    width: 75%;
                    border: none;
                    font-family: 'Roboto';
                }
                section .auth .selected form input:hover {
                    box-shadow: 0px 0px 5px 5px #323232;
                }
                section .auth .selected form input:invalid {
                    box-shadow: 0px 0px 3px 0px red;
                }
                section .auth .selected form input[type=text]:valid,
                section .auth .selected form input[type=email]:valid,
                section .auth .selected form input[type=password]:valid {
                    box-shadow: 0px 0px 3px 0px green;
                }
                section .auth .selected form input[type=submit] {
                    margin: 1em;
                    padding: 1em;
                    background-color: #4E4E4E;
                    color: white;
                    font-family: 'Roboto';
                    border: none;
                }
            section .auth .selected form.hidden {
                display: none;
            }

footer {
    display: flex;
    flex-direction: column;
    background-color: #323232;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
}

button {
    padding: 1em;
    background-color: #4E4E4E;
    color: white;
    font-family: 'Roboto';
    border: none;
}
