html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #673AB7;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-family: "Exo 2","Roboto";
}
    body > #bootscreen {
        width: 70%;
        height: 400px;
        min-width: 500px;
        overflow: hidden;
        max-width: 1400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background: rgba(255,255,255,0.05);
        color: #FFF;
    }
        #bootscreen > h1 {
            color: #FFF;
        }
            #bootscreen > h1 > i {
                margin-right: 10px;
            }
        #bootscreen > container {
            flex-grow: 1;
            margin-top: 20px;
            display: inherit;
            flex-direction: inherit;
        }
            #bootscreen > container > div {
                flex: 1 1 auto;
                height: 0px;
                background: #FFF;
                padding: 20px;
                color: #333;
                overflow-y: scroll;
            }
            #bootscreen > container > ul {
                height: 40px;
                margin-top: 20px;
                display: flex;
            }
                #bootscreen > container > ul li:first-child {
                    margin-left: auto;
                }
                #bootscreen > container > ul li {
                    height: inherit;
                    padding: 0 20px;
                    background: #FFF;
                    align-self: flex-end;
                    color: #333;
                    display: flex;
                    align-items: center;
                    transition: background 0.2s linear;
                }
                    #bootscreen > container > ul li.valid {
                        background: #EEFF41;
                    }
                    #bootscreen > container > ul li.warning {
                        background: #FFCA28;
                    }

                    #bootscreen > container > ul li i {
                        margin-left: 10px;
                    }

                #bootscreen > container > ul li + li {
                    margin-left: 20px;
                }
