body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Exo 2", "Roboto";
}

body > #black_screen {
    background: rgba(20,20,20,0.9);
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
    body > #black_screen > #maquettes {
        width: 70%;
        min-width: 800px;
        max-width: 1400px;
        min-height: 200px;
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #263238;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 2px;
        border: 2px solid #455A64;
        box-shadow: 2px 2px 20px 10px rgba(20,20,20,0.4);
        box-shadow: 1px 1px 10px #263238 inset;
    }

    #maquettes > h1 {
        color: #29B6F6;
        margin-bottom: 15px;
    }

    #maquettes > h2 {
        margin-left: 14px;
        margin-bottom: 5px;
        font-size: 17px;
    }

    #maquettes > .sub {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background: #162025;
        border-radius: 4px;
    }

    #maquettes > .sub + h2 {
        margin-top: 15px;
    }

    #maquettes > .sub.bootscreen {
        border-left: 3px solid #8260be;
    }

    #maquettes > .sub.main {
        border-left: 3px solid #FFCA28;
    }

    #maquettes > .sub.root {
        border-left: 3px solid #e1375c;
    }

    #maquettes > .sub.divers {
        border-left: 3px solid #1bbc9b;
    }

        #maquettes > .sub > ul {
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-top: -10px;
        }
            #maquettes > .sub > ul li {
                display: flex;
    			flex-grow: 1;
                flex-basis: 180px;
                padding: 10px;
    			margin-left: 10px;
                margin-top: 10px;
                background: #37474F;
                color: #E8EAF6;
                display: flex;
                border-radius: 2px;
                align-items: center;
                justify-content: center;
                text-shadow: 1px 1px 1px rgba(20,20,20,0.5);
                box-shadow: 2px 2px 10px rgba(20,20,20,0.3);
                box-sizing: border-box;
            }
                #maquettes > .sub > ul li > span {
                    background: #263238;
                    box-sizing: border-box;
                    border: none;
                    padding: 6px;
    				border-radius: 2px;
                    color: #FFF;
                    font-weight: 300;
                    outline: none;
                    font-size: 17px;
                    transition: background 0.2s linear;
                    text-shadow: 1px 1px 1px rgba(20,20,20,0.5);
                    box-shadow: 2px 2px 10px rgba(40,40,100,0.1);
                    margin-left: 10px;
                }

                #maquettes > .sub > ul li > button {
                    background: #29B6F6;
                    box-sizing: border-box;
                    border: none;
                    padding: 6px;
    				border-radius: 2px;
                    color: #FFF;
                    font-weight: 300;
                    outline: none;
                    font-size: 17px;
                    transition: background 0.2s linear;
                    text-shadow: 1px 1px 1px rgba(20,20,20,0.5);
                    box-shadow: 2px 2px 10px rgba(40,40,100,0.1);
                    margin-left: 10px;
                }
                    #maquettes > .sub > ul li > button:hover {
                        background: #2962FF;
                        cursor: pointer;
                    }
