@import "_colors.scss";

*{
	box-sizing:border-box;
}

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}

h1, h2, h3{
	font-family: "Myriad Pro";
}

.global-container{
	position: fixed;
	display: flex;
	flex-direction:row;
	height: 100%;
	width: 100%;
	overflow-y: scroll;

	background-color: rgba(0,0,0,0.5);
}