.side-menu{
	position: fixed;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	z-index: 10;

	flex-basis: 300px;
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;

	padding-top: 30px;
	padding-left:30px;
}

.side-menu-user{
	display: flex;
	flex-direction: row;
}

.side-menu-user-avatar{
	img{
		width: 100px;
		height: 100px;

		border: solid 3px #fff;
	}
}

.side-menu-user-info-content{
	display: flex;
	flex-direction: column;

	margin-left: 10px;
}

.side-menu-user-informations{
	display: flex;
	flex-direction: column;
	color: $white-text;
}

.user-info-name{
	font-family: "Myriad Pro";
	font-size: 18pt;
}

.user-info-role{
	font-family: "Arial";
	font-size: 11pt;
	margin-bottom: 10px;
	opacity: 0.5;
	font-style: italic;
}

.side-menu-user-buttons{
	ul{
		display: flex;
		flex-direction: row;
	}
}

.side-menu-button{
	display: block;
	height: 42px;
	width: 42px;
	line-height: 42px;
	text-align: center;
	font-size: 15pt;

	text-decoration: none;
	margin-right: 10px;
}

.side-menu-button.white{
	background-color: $primary-white;
	color: $primary-grey;
}

.side-menu-button.red{
	background-color: $primary-red;
	color: $primary-white;
}

.side-menu-content{
	margin-top: 60px;
	flex:1;

	ul{
		display: flex;
		flex-direction:column;
	}
}

.side-menu-item{
	position: relative;
	display: block;
	text-decoration: none;
	height: 40px;
	line-height: 40px;
	width: 100%;

	font-family: "Myriad Pro";
	color: $primary-white;
	font-size: 15pt;
}

.side-menu-item .side-menu-item-icon{
	display: none;
}

.side-menu-item.huge .side-menu-item-icon{
	$icon-size : 80px;

	position: absolute;
	display: block;
	top: -($icon-size/4);
	right: -($icon-size/2);


	height: $icon-size;
	width: $icon-size;
	border-radius: $icon-size; 
	line-height: $icon-size;
	text-align: center;

	background-color: $primary-grey;
	color: $primary-white;
}

.side-menu-item.huge{
	font-size: 20pt;
	font-weight: bold;
}

.side-menu-footer{
	font-size: 10pt;
	text-align: center;
	padding-right: 30px;
	
	color: $primary-white;
	font-family: "Arial";
	margin-bottom: 20px;

	opacity: 0.5;
}