* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1, h2, h3 {
  font-family: "Myriad Pro"; }

.global-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5); }

.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  padding-top: 30px;
  padding-left: 30px; }

.side-menu-user {
  display: flex;
  flex-direction: row; }

.side-menu-user-avatar img {
  width: 100px;
  height: 100px;
  border: solid 3px #fff; }

.side-menu-user-info-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px; }

.side-menu-user-informations {
  display: flex;
  flex-direction: column;
  color: #f5f5f5; }

.user-info-name {
  font-family: "Myriad Pro";
  font-size: 18pt; }

.user-info-role {
  font-family: "Arial";
  font-size: 11pt;
  margin-bottom: 10px;
  opacity: 0.5;
  font-style: italic; }

.side-menu-user-buttons ul {
  display: flex;
  flex-direction: row; }

.side-menu-button {
  display: block;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 15pt;
  text-decoration: none;
  margin-right: 10px; }

.side-menu-button.white {
  background-color: #eaeaea;
  color: #303437; }

.side-menu-button.red {
  background-color: #d43142;
  color: #eaeaea; }

.side-menu-content {
  margin-top: 60px;
  flex: 1; }
  .side-menu-content ul {
    display: flex;
    flex-direction: column; }

.side-menu-item {
  position: relative;
  display: block;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-family: "Myriad Pro";
  color: #eaeaea;
  font-size: 15pt; }

.side-menu-item .side-menu-item-icon {
  display: none; }

.side-menu-item.huge .side-menu-item-icon {
  position: absolute;
  display: block;
  top: -20px;
  right: -40px;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #303437;
  color: #eaeaea; }

.side-menu-item.huge {
  font-size: 20pt;
  font-weight: bold; }

.side-menu-footer {
  font-size: 10pt;
  text-align: center;
  padding-right: 30px;
  color: #eaeaea;
  font-family: "Arial";
  margin-bottom: 20px;
  opacity: 0.5; }

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed; }

.main-container {
  position: absolute;
  left: 288px;
  width: calc(100% - 288px);
  width: -webkit-calc(100% - 288px);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 40px;
  background-color: #eaeaea;
  color: #303437;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 96px; }

.main-container-content {
  display: flex;
  flex-direction: column; }

.container-section-row {
  display: flex;
  flex-direction: row;
  width: 100%; }

.container-section-50 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 15px; }

.section-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 95px;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #d5d5d5; }

.section-block-infos {
  display: flex;
  flex-direction: column;
  color: #303437;
  padding: 15px; }

.section-block-data {
  font-family: "Arial";
  font-weight: bold;
  font-size: 25pt;
  margin-top: auto;
  margin-bottom: auto;
  padding: 15px; }

.section-block-subtitle {
  font-family: "Myriad Pro";
  font-size: 12pt;
  opacity: 0.5; }

.section-block-title {
  font-family: "Myriad Pro";
  font-size: 18pt; }

.section-country {
  display: flex;
  flex-direction: column;
  font-family: "Arial"; }
  .section-country table {
    width: 100%; }

.country-line-flag img {
  width: 25px;
  vertical-align: middle; }

/*# sourceMappingURL=app.css.map */
