body {
    display: flex;
    flex-direction: column;
}
body, html {
    height: 100%;
}

body > * {
    flex-shrink: 0;
    display: flex;
    position: relative;
}

span.info {
    color: #FFF;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(20,20,20,0.4);
}

nav {
    height: 40px;
    background: #E91E63;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(20,20,20,0.3);
    z-index: 10;
}
    nav > ul {
        display: flex;
    }
        nav > ul li {
            display: flex;
            width: 150px;
            background: #FFF;
            align-items: center;
            justify-content: center;
            margin: 5px 2.5px;
            border-radius: 4px;
            font-family: Roboto;
            color: #222;
        }

main {
    flex-grow: 1;
    background: #3F51B5;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

footer {
    height: 100px;
    background: #8BC34A;
    z-index: 11;
    box-shadow: -1px -1px 10px rgba(20,20,20,0.3);
}
    footer > section {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    footer > section.user {
        width: 350px;
    }
        footer > section.user > section.group {
            position: absolute;
            height: 400px;
            left: 10px;
            width: 340px;
            bottom: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border: 2px dashed #DCE775;
            border-radius: 5px;
        }
            footer > section.user > section.group > span {
                color: #DCE775;
            }
    footer > section.tchat {
        flex-grow: 1;
        background: #E91E63;
    }
        footer > section.tchat > section.tchat_box {
            position: absolute;
            height: 280px;
            left: 25px;
            width: 400px;
            bottom: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border: 2px dashed #EC407A;
            border-radius: 5px;
        }
            footer > section.tchat > section.tchat_box > span {
                color: #EC407A;
            }
    footer > section.friends {
        width: 350px;
    }
        footer > section.friends > section.friends_box {
            position: absolute;
            height: 65vh;
            right: 25px;
            width: 300px;
            bottom: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border: 2px dashed #DCE775;
            border-radius: 5px;
        }
        footer > section.friends > section.friends_box span {
            color: #DCE775;
        }