* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Exo 2", roboto;
}

body {
    background: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pixie {
	z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background:-o-linear-gradient(top, #212121, #311B92);
	background:-ms-linear-gradient(top, #212121, #311B92);
	background:-moz-linear-gradient(top, #212121, #311B92);
	background:-webkit-linear-gradient(top, #212121, #311B92);
	background:linear-gradient(top, #212121, #311B92);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#212121', EndColorStr='#311B92');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#212121', EndColorStr='#311B92')";
}

@keyframes neon {
    from {
        color: #FFF;
    }
    to {
        color: #FFFDE7;
    }
}

@keyframes loadingbar {
    from {
        background-color: #DCE775;
    }
    to {
        background-color: #E6EE9C;
    }
}

body > #center {
    width: 100%;
    display: flex;
    justify-content: center;
}
    #center > .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        flex-basis: 350px;
    }
        #center > .team.left > .user {
            flex-direction: row-reverse;
        }
        #center > .team.left > .user > .info {
            text-align: right;
            margin-right: 20px;
        }
        #center > .team.right > .user > .info {
            margin-left: 20px;
        }

        #center > .team > .user {
            height: 80px;
            display: flex;
            padding: 10px;
        }
            #center > .team > .user:hover > .info h2 {
                color: #EDE7F6;
            }

            #center > .team.left > .user > .avatar {
                transform: skew(7deg);
            }
            #center > .team.right > .user > .avatar {
                transform: skew(-7deg);
            }

            #center > .team > .user > .avatar {
                width: 80px;
                height: inherit;
                overflow: hidden;
                box-sizing: border-box;
                border-left: 2px solid #673AB7;
                border-top: 2px solid #673AB7;
                border-bottom: 2px solid #5E35B1;
                border-right: 2px solid #5E35B1;
                box-shadow: 1px 1px 10px rgba(40,20,20,0.5);
                border-radius: 2px;
                position: relative;
            }
                #center > .team > .user > .avatar > img {
                    width: inherit;
                    height: inherit;
                    position: absolute;
                    z-index: 1;
                }
                #center > .team.left > .user > .avatar > span {
                    right: 2px;
                }
                #center > .team.right > .user > .avatar > span {
                    left: 2px;
                }

                #center > .team > .user > .avatar > span {
                    padding: 2px;
                    border-radius: 2px;
                    position: absolute;
                    bottom: 2px;
                    color: #FFF;
                    background: #EC407A;
                    z-index: 2;
                    font-size: 12px;
                    font-weight: bold;
                }

            #center > .team > .user > .info {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                color: #FFF;
                justify-content: center;
                text-transform: capitalize;
            }
                #center > .team.left > .user > .info h2 {
                    transform: skew(7deg);
                }
                #center > .team.right > .user > .info h2 {
                    transform: skew(-7deg);
                }
                #center > .team > .user > .info h2 {
                    text-shadow: 1px 1px 10px #651FFF,1px 1px 5px #000;
                    transition: all 0.2s linear;
                }
                #center > .team > .user:hover > .info > .loading_bar {
                    border-color: #FFFDE7;
                }

                #center > .team.left > .user > .info > .loading_bar {
                    transform: skew(7deg);
                }
                #center > .team.right > .user > .info > .loading_bar {
                    transform: skew(-7deg);
                }

                #center > .team > .user > .info > .loading_bar {
                    border: 2px solid #FFF;
                    border-radius: 2px;
                    height: 14px;
                    padding: 2px;
                    display: flex;
                    flex-shrink: 0;
                    box-shadow: 1px 1px 12px rgba(255,255,255,0.28);
                    transition: all 0.2s linear;
                }
                    #center > .team > .user > .info > .loading_bar div {
                        width: calc(10% - 2px);
                        background: #DCE775;
                        border-radius: 2px;
                    }
                        #center > .team > .user > .info > .loading_bar div:nth-child(even) {
                            animation-name: loadingbar;
                            animation-duration: 0.5s;
                            animation-delay: 2.5s;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                        }
                    #center > .team > .user > .info > .loading_bar div + div {
                        margin-left: 2px;
                    }

        #center > .team > .user + .user {
            margin-top: 10px;
        }

    #center > #versus {
        width: 300px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
        #center > #versus > p {
            text-shadow: 1px 1px 10px #651FFF,1px 1px 5px #000;
            font-size: 80px;
            color: #FFF;
            animation-name: neon;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        #center > #versus > span:first-child {
            color: #DCE775;
            font-size: 20px;
        }
        #center > #versus > span:last-child {
            color: #FFF;
            font-weight: 300;
        }
