body{
	background-image: url("../img/background.jpg");
	background-size:cover;
	background-attachment: fixed;
}

.main-container{
	position: absolute;
	left: 288px;
	width: calc(100% - 288px);
	width: -webkit-calc(100% - 288px);

	display: flex;
	flex-direction:column;
	flex: 1;

	padding-right: 40px;

	background-color: $primary-white;
	color: $primary-grey;

	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 96px;
}

.main-container-content{
	display: flex;
	flex-direction:column;
}

.container-section{

}

.container-section-row{
	display: flex;
	flex-direction:row;
	width: 100%;
}

.container-section-50{
	display: flex;
	flex-direction:column;
	width: 50%;
	margin-right: 15px;
}

.section-block{
	display: flex;
	flex-direction:row;
	width: 100%;
	min-height: 95px;
	margin-bottom: 20px;
	justify-content: space-between;

	background-color: $secondary-white;
}

.section-block-infos{
	display: flex;
	flex-direction:column;
	color: $primary-grey;
	padding:15px;
}

.section-block-data{
	font-family: "Arial";
	font-weight: bold;
	font-size: 25pt;
	margin-top:auto;
	margin-bottom:auto;
	padding: 15px;
}

.section-block-subtitle{
	font-family: "Myriad Pro";
	font-size: 12pt;
	opacity: 0.5;
}
.section-block-title{
	font-family: "Myriad Pro";
	font-size: 18pt;
}


.section-country{
	display: flex;
	flex-direction:column;
	font-family: "Arial";

	table{
		width: 100%;
	}
}



.country-line-flag{
	img{
		width: 25px;
		vertical-align: middle;
	}
}
