
body {
    font-family: "Roboto";
}

body {
    display: flex;
    flex-direction: column;
    background: #673AB7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #673AB7 , #512DA8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #673AB7 , #512DA8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
}

header, container, footer {
    display: flex;
}

header {
    height: 240px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    position: relative;
    box-shadow: -2px 2px 20px rgba(20,20,20,0.5);
}
    header > h1 {
        font-size: 105px;
        font-weight: 800;
        line-height: 0.75;
        text-shadow: 1px 1px 1px rgba(20,20,20,0.5);
    }
    header > span {
        font-size: 30px;
        font-style: italic;
        color: #EEFF41;
        text-shadow: 1px 1px 1px rgba(20,20,20,0.5);
    }
    header > ul {
        margin-top: 30px;
        display: flex;
    }
        header > ul li {
            height: 30px;
            background: #FFF;
            border-radius: 3px;
            color: #333;
            transform: skew(-20deg);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 20px;
            box-shadow: 2px 2px 15px 2px rgba(255,255,255,0.4);
            transition: color 0.2s linear;
            padding: 0 10px;
        }
            header > ul li:first-child, header > ul li:last-child {
                min-width: 115px;
            }
            header > ul li:first-child {
                margin-right: 20px;
            }
            header > ul li:last-child {
                margin-left: 20px;
            }
            header > ul li:hover {
                color: #673AB7;
                cursor: pointer;
            }
        header > ul li:not(:first-child):not(:last-child) + li:not(:first-child):not(:last-child) {
            margin-left: 5px;
        }
        header > ul li:not(:first-child):not(:last-child) {
            width: 25px;
        }
        header > ul li:not(:first-child):not(:last-child) i {
            font-size: 16px;
        }

#ethernium_desc {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0;
}
    #ethernium_desc > .sub {
        flex-grow: 1;
    }
        #ethernium_desc > .sub > h2 {
            height: 60px;
            background: #2196F3;
            transform: skew(-20deg);
            border-radius: 3px;
            margin: 0 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            box-shadow: 1px 1px 15px rgba(20,20,20,0.1);
            color: #FFF;
            transition: background 0.1s linear, color 0.1s linear;
        }
            #ethernium_desc > .sub > h2:hover {
                background: #64B5F6;
                cursor: pointer;
            }

container {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    position: relative;
}
    @media screen and (max-width: 1000px) {
        container > .games {
            height: 250px;
        }
    }
    @media screen and (min-width: 1000px) {
        container > .games {
            height: 340px;
        }
    }

    container > .games {
        flex: 1 1 500px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: padding-box;
        box-shadow: 2px 2px 25px rgba(20,20,20,0.4) inset;
        transition: box-shadow 0.2s linear, filter 0.4s linear;
        filter: grayscale(20%);
        -webkit-filter: grayscale(20%);
        position: relative;
    }
        container > .games:hover {
            box-shadow: 2px 2px 25px rgba(20,20,20,0.7) inset;
            cursor: pointer;
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
        }

            container > .games:hover > ul li:nth-child(2) {
                background: #64B5F6;
            }

        container > .games::before {
            width: 100%;
            height: 100%;
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            z-index: -1;
        }

        container > .games::after {
            width: 100%;
            height: 100%;
            background: red;
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            z-index: 100;
        }

        container > .games > h2 {
            color: #fff;
            font-style: italic;
            font-weight: 500;
            font-size: 60px;
            text-shadow: 1px 1px 4px rgba(15,15,15,1);
            transition: color 0.2s linear;
            font-family: squaredeal, "Exo 2";
        }
        container > .games > span {
            background: #2196F3;
            align-self: flex-start;
            height: 28px;
            padding: 0 8px;
            display: flex;
            align-items: center;
            transform: skew(-20deg);
            margin-left: 40px;
            font-weight: 500;
            color: #FFF;
            text-shadow: 1px 1px 4px rgba(15,15,15,0.1);
            border: 2px solid #FFF;
            font-size: 15px;
            box-shadow: 1px 1px 10px rgba(20,20,20,0.4);
        }
        container > .games > ul {
            height: 40px;
            display: flex;
            justify-content: center;
            margin-top: auto;
        }
            container > .games > ul li {
                height: 40px;
                border-radius: 2px;
                min-width: 150px;
                transform: skew(-20deg);
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 18px;
                box-shadow: 2px 2px 15px 2px rgba(20,20,20,0.4);
                transition: background 0.2s linear;
            }
                container > .games > ul li i {
                    font-size: 15px;
                    margin-right: 10px;
                }
                container > .games > ul li:nth-child(1) {
                    background: #D4E157;
                    color: #333;
                }
                container > .games > ul li:nth-child(1):not(.inactive) {
                    text-shadow: 1px 1px 1px yellow;
                }
                    container > .games > ul li:nth-child(1):hover {
                        background: #EEFF41;
                    }
                container > .games > ul li:nth-child(2) {
                    background: #2196F3;
                    color: #FFF;
                    text-shadow: 1px 1px 1px #1976D2;
                }

                container > .games > ul li.inactive {
                    pointer-events: none;
                    opacity: 0.9;
                    background: #666;
                    color: #FFF;
                    border: 2px solid #666;
                }
                container > .games > ul li:hover {
                    cursor: pointer;
                }

            container > .games > ul li + li {
                margin-left: 20px;
            }

        container > .games.hos {
            background: url('cover/nova.jpg') no-repeat center;
            background-size: cover;
        }
        container > .games.sc {
            background: url('cover/kerrigan.jpg') no-repeat center;
            background-size: cover;
        }
        container > .games.lol {
            background: url('cover/lol.jpg') no-repeat center;
            background-size: cover;
        }
        container > .games.overwatch {
            background: url('cover/overwatch.jpg') no-repeat center;
            background-size: cover;
        }
        container > .games.diablo {
            background: url('cover/diablo.jpg') no-repeat center;
            background-size: cover;
        }
        container > .games.ori {
            background: url('cover/ori.jpg') no-repeat center;
            background-size: cover;
        }

aside {
    min-height: 500px;
    background: orange;
    margin-bottom: 20px;
    display: none;
}

footer {
    height: 200px;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}
    footer > ul {
        display: flex;
        flex-direction: column;
        flex-basis: 170px;
    }
    footer > ul:first-child {
        padding-right: 10px;
    }
        footer > ul + ul {
            border-left: 2px ridge rgba(255,255,255,0.1);
            padding: 0 10px;
        }
        footer > ul li:first-child {
            background: #FFF;
            height: 26px;
            border-radius: 10px;
            color: #333;
            padding: 0 10px;
            font-weight: 500;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
        }
        footer > ul li:not(:first-child) {
            margin-left: 20px;
            transition: color 0.2s linear;
        }
            footer > ul li:not(:first-child):hover {
                color: #EEFF41;
                cursor: pointer;
            }
